@import "@/theme.scss";

.simple_tab_container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  .tab_item {
    width: 89px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: border-color 0.3s ease-in-out;
    &:hover {
      border: 1px solid rgba(82, 136, 255, 0.8);
    }
    &:first-of-type {
      border-radius: 3px 0px 0px 4px;
      border-right: none;
    }
    &:last-of-type {
      border-radius: 0px 3px 4px 0px;
      border-left: none;
    }
    &.active {
      background: #3876ff;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
