<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/xy-element/favicon.ico"
    />
    <link rel="stylesheet" href="/xy-element/style.css" />
    <link rel="stylesheet" href="/xy-element/umi.ae339387.css" />
    <script>
      window.routerBase = "/xy-element";
    </script>
    <script>
      //! umi version: 3.4.2
    </script>
    <script>
      !(function () {
        var e = localStorage.getItem("dumi:prefers-color"),
          t = window.matchMedia("(prefers-color-scheme: dark)").matches,
          r = ["light", "dark", "auto"];
        document.documentElement.setAttribute(
          "data-prefers-color",
          e === r[2] ? (t ? r[1] : r[0]) : r.includes(e) ? e : r[0]
        );
      })();
    </script>
    <title>VideoPlayer</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="/xy-element/umi.d2ee2804.js"></script>
  </body>
</html>
