@import "src/theme.scss";

$prefixCls: "xy";
$defaultPrefix: $prefixCls + "-scroll-container";

.#{$defaultPrefix} {
  overflow: hidden;
  position: relative;
  &-inner-wrapper {
    width: 100%;
    height: 100%;
    @include no-scrollbar;
    overflow-y: auto;
    overflow-x: auto;
  }
}
