@import "src/theme.scss";

$prefixCls: "xy";
$defaultBarPrefix: $prefixCls + "-scroll-bar";
$scroll-bar-width: 10px;
$scroll-bar-inner-width: 8px;

.#{$defaultBarPrefix} {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: default;
  &-wrapper{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: $scroll-bar-width;
  }
  &-dark{
    .#{$defaultBarPrefix}-wrapper{
      background: transparent;
    }
    .#{$defaultBarPrefix}-inner {
      width: 100%;
      height: 100%;
      background: transparent;
      position: relative;
      display: flex;
      justify-content: center;
    }
    .#{$defaultBarPrefix}-bar {
      width: $scroll-bar-inner-width;
      border-radius: $scroll-bar-inner-width / 2;
      background-color: rgba(127, 127, 127, 0.7);
      position: absolute;
    }
  }
}
